server {
    listen 80 default_server;
    server_name {{ ansible_hostname }}.{{ ansible_domain }};
    index index.php index.html;
    root /usr/share/nginx/html/wordpress;

    location / {
        try_files $uri $uri/ $uri/index.php =404;
    }

{% if ansible_distribution_file_variety == 'RedHat' %}
    location ~ \.php$ {
        fastcgi_pass 127.0.0.1:9000;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;
        fastcgi_index index.php;
    }
{% elif ansible_distribution_file_variety == 'Debian' %}
    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass 127.0.0.1:9000;
    }
{% endif %}

}            

